@use 'reset'
@use 'css3'

body {
  background: #f9f9f7;
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, sans-serif;
}

#wrapper {
  margin: 33px auto 0 auto;
  width: 640px;

  > header {
    text-transform: uppercase;
    font-family: 'Days One', sans-serif;
    font-size: 1.9em;
  }

  > section {
    padding: .8em;
    background: #f4f4f4;
    border: 1px solid #ededed;
    @include radius(7px);

    > header {
      font-weight: bold;
      margin-bottom: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid #ededed;
    }

    > pre {
      color: #6c6c59;
    }
  }

  > footer {
    text-align: right;
    font-size: .8em;
    color: #bfbfa5;
  }

}
