/**
 * Basic grid rules
 */

$width = 740px
$columns = 5
$separation = 10px


@mixin grid {
  @include container($width);
  &.show-grid {
    background-image: url(?grid=ceil([$width / $columns]));
  }
}

@mixin columns($span: 1) {
  display: inline;
  float: left;
  width: [[[$width / $columns] * $span] - $separation];
  margin-left: $separation;
  &:first-child {
    margin-left: 0;
  }
}

/* EOF: ./library/css/assets/styles/grid.css */
