<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # - Canonical URLs
  # RewriteCond %{HTTP_HOST} !^www\.domain\.tld$
  # RewriteRule ^(.*)$ http://www.domain.tld/$1 [L,R=301]

  # - Conventional rewrite
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [PT,L]

  # - Always allowed
  # RewriteCond $1 ^(script\.php|robots\.txt|favicon\.ico)$ [OR]
  # RewriteCond $1 ^(public|images|audio|css|js)/
  # RewriteRule ^(.*)$ - [PT,L]
</IfModule>
