/**
 * CSS3 basic ruleset
 */

@mixin radius($size: 5px) {
 -moz-border-radius: %(%dpx, $size);
 -webkit-border-radius: %(%dpx, $size);
 border-radius: %(%dpx, $size);

 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
}

@mixin radius_box($tl: 5px, $tr: 5px, $br: 5px, $bl: 5px) {
 -moz-border-radius: %(%dpx, $tl) %(%dpx, $tr) %(%dpx, $br) %(%dpx, $bl);
 -webkit-border-radius: %(%dpx, $tl) %(%dpx, $tr) %(%dpx, $br) %(%dpx, $bl);
 border-radius: %(%dpx, $tl) %(%dpx, $tr) %(%dpx, $br) %(%dpx, $bl);

 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
}

@mixin shadow($left: 0px, $top: 0px, $blur: 5px, $color: #555) {
 -moz-box-shadow: %(%dpx %dpx %dpx, $left, $top, $blur) $color;
 -webkit-box-shadow: %(%dpx %dpx %dpx, $left, $top, $blur) $color;
 box-shadow: %(%dpx %dpx %dpx, $left, $top, $blur) $color;
}

@mixin inner_shadow($left: 0px, $top: 0px, $blur: 5px, $color: #555) {
 -moz-box-shadow: inset %(%dpx %dpx %dpx, $left, $top, $blur) $color;
 -webkit-box-shadow: inset %(%dpx %dpx %dpx, $left, $top, $blur) $color;
 box-shadow: inset %(%dpx %dpx %dpx, $left, $top, $blur) $color;
}

@mixin text_columns($column_count, $column_gap: 20px) {
 -webkit-column-count: %(%dpx, $column_count);
 -webkit-column-gap: %(%dpx, $column_gap);
 -moz-column-count: %(%dpx, $column_count);
 -moz-column-gap: %(%dpx, $column_gap);
 column-count: %(%dpx, $column_count);
 column-gap: %(%dpx, $column_gap);
}

@mixin rotate($angle: 7.5deg) {
 -moz-transform: rotate(%(%ddeg, $angle));
 -o-transform: rotate(%(%ddeg, $angle));
 -webkit-transform: rotate(%(%ddeg, $angle));
 -ms-transform: rotate(%(%ddeg, $angle));
 transform: rotate(%(%ddeg, $angle));
 zoom: 1;
}

@mixin transition($transition) {
 -webkit-transition: $transition;
 -moz-transition: $transition;
 transition: $transition;
}

@mixin horizontal_gradient($start: #555, $end: #333) {
 background-color: $end;
 background-repeat: repeat-x;

 background-image: -khtml-gradient(linear, left top, right top, from($start), to($end));
 background-image: -moz-linear-gradient(left, $start, $end);
 background-image: -ms-linear-gradient(left, $start, $end);
 background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $start), color-stop(100%, $end));
 background-image: -webkit-linear-gradient(left, $start, $end);
 background-image: -o-linear-gradient(left, $start, $end);
 background-image: linear-gradient(left, $start, $end);

 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=1);
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=1);
}

@mixin vertical_gradient($start: #555, $end: #333) {
 background-color: #($end, 1);
 background-repeat: repeat-x;

 background-image: -khtml-gradient(linear, left top, left bottom, from(#($start, 1)), to(#($end, 1)));
 background-image: -moz-linear-gradient($start, $end);
 background-image: -ms-linear-gradient($start, $end);
 background-image: -webkit-linear-gradient($start, $end);
 background-image: -o-linear-gradient($start, $end);
 background-image: linear-gradient($start, $end);

 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(fval(#($start, 2, 0)), #($start, 1)), color-stop(fval(#($end, 2, 1)), #($end, 1)));

 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#($start, 1)', endColorstr='#($end, 1)', GradientType=0);
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#($start, 1)', endColorstr='#($end, 1)', GradientType=0);
}

@mixin directional_gradient($start: #555, $end: #333, $deg: 45deg) {
 background-color: $end;
 background-repeat: repeat-x;

 background-image: -moz-linear-gradient(%(%ddeg, $deg), $start, $end);
 background-image: -ms-linear-gradient(%(%ddeg, $deg), $start, $end);
 background-image: -webkit-linear-gradient(%(%ddeg, $deg), $start, $end);
 background-image: -o-linear-gradient(%(%ddeg, $deg), $start, $end);
 background-image: linear-gradient(%(%ddeg, $deg), $start, $end);
}

@mixin three_gradient($bottom: #555 0%, $middle: #444 50%, $top: #333 100%) {
 background-color: #($middle, 1);
 background-repeat: no-repeat;

 background-image: linear-gradient(bottom, $bottom, $middle, $top);
 background-image: -o-linear-gradient(bottom, $bottom, $middle, $top);
 background-image: -moz-linear-gradient(bottom, $bottom, $middle, $top);
 background-image: -webkit-linear-gradient(bottom, $bottom, $middle, $top);
 background-image: -ms-linear-gradient(bottom, $bottom, $middle, $top);

 background-image: -webkit-gradient(linear, left bottom, left top, color-stop(fval(#($bottom, 2, 0)), #($bottom, 1)), color-stop(fval(#($middle, 2, .5)), #($middle, 1)), color-stop(fval(#($top, 2, 1)), #($top, 1)));
}

/* EOF: ./library/cssp/assets/styles/css3.css */
